
export("timeROC","compare","plotAUCcurve","plotAUCcurveDiff","SeSpPPVNPV")

import(pec)
import(mvtnorm)

S3method(confint,ipcwcompetingrisksROC)
S3method(confint,ipcwsurvivalROC)


S3method(print,ipcwcompetingrisksROC)
S3method(print,ipcwsurvivalROC)

S3method(print,ipcwsurvivalSeSpPPVNPV)
S3method(print,ipcwcompetingrisksSeSpPPVNPV)

S3method(plot,ipcwcompetingrisksROC)
S3method(plot,ipcwsurvivalROC)

importFrom("graphics", "abline", "lines", "matlines", "plot")
importFrom("stats", "as.formula", "confint", "pnorm", "qnorm","quantile", "rnorm", "sd", "var")
